<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key ="filePath" value ="C:\ToDo Manager"/>  
  
  </appSettings>    
    

  <connectionStrings>
    
    <add name ="ToDo Manager App" 
         connectionString="Server = localhost; Database = ToDo Manager App; Trusted_Connection= True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>